@import "../../global-styles/colors.scss";

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.intro_wrapper {
  display: flex;
}
.into_information {
  width: 60%;
  height: 100%;
  h1 {
    font-size: clamp(28px, 3.1vw, 64px);
    text-decoration: underline;
    margin-bottom: 2.375rem;
    font-style: normal;
    font-weight: 900;
    color: $typography1;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 20px);
    line-height: 150%;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}
.intro_kitekat {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    max-width: 100%;
    width: 80%;
    height: auto;
  }
}

.video_intro {
  position: relative;
  width: 90%;
  height: 300px;
  background: #3f455b;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  margin-top: 5rem;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(40%);
    width: 60%;
    height: 100%;
    border-radius: 50%;
    background-color: #d8faff;
    z-index: 0;
  }
}

.what_we_do {
  width: 100%;
  margin-top: 8.75rem;
  h1 {
    color: $typography2;
    text-decoration: underline;
  }
  p {
    margin-top: 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
  }
}
.activity_cards {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
  div {
    text-align: center;
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
    }
  }
}

.our_team {
  margin-top: 10rem;
  h1 {
    color: $typography2;
    text-decoration: underline;
  }
  p {
    margin-top: 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
  }
}

.team_cards {
  width: 100%;
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}

.member_photo {
  width: 30%;
  img {
    min-width: 90px;
    min-height: 90px;
  }
}

.team_card {
  width: calc(100% / 3 - 1.5rem);
  min-width: 280px;
  border-radius: 1.25rem;
  border: 1px solid $secondaryColor4;
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}

@media (max-width: 1280px) {
  .team_card {
    width: calc(100% / 2 - 1rem);
  }
}
@media (max-width: 992px) {
  .team_card {
    width: 100%;
  }
}

.member_info {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: clamp(10px, 0.9vw, 18px);
    line-height: 115%;
  }
  div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    span {
      font-weight: 400;
      word-wrap: break-word;
    }
  }
}

.footer_decoration {
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -25%;
    width: 150%;
    height: 40%;
    border-radius: 50% 50% 0 0;
    background-color: #D8FAFF;
    z-index: -1;
  }
}