@import "../../global-styles/colors.scss";
@import "../../utils/mixins.scss";
@import "../../global-styles/fonts.scss";

.section {
  padding: 3.5rem 0 7rem 0;

  @include onTablet {
    padding: 3.5rem 0 10rem 0;
  }
}
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  @include onTablet {
    width: 80%;
  }
}
.about_page {
  padding-top: 4rem;
}

.intro_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;

  @include onTablet {
    flex-direction: column;
    padding-bottom: 5rem;
  }
  @include onDesktop {
    flex-direction: row;
  }
  @include on1920 {
    padding-bottom: 7rem;
  }
}
.into_information {
  width: 100%;
  height: 100%;

  @include onTablet {
    width: 100%;
    height: 100%;
  }

  @include onDesktop {
    width: 60%;
    height: 100%;
  }

  h1 {
    color: $typographyColor1;
    font-size: $typography1;
    text-decoration: underline;
    margin-bottom: 2.375rem;
    font-style: normal;
    font-weight: 900;
    color: $typographyColor1;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: $typography4;
    line-height: 150%;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}
.intro_kitekat {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  img {
    max-width: 100%;
    width: 70%;
    height: auto;
  }

  @include onTablet {
    width: 70%;
    margin: 0 auto;
    justify-content: flex-end;
    img {
      max-width: 100%;
      width: 80%;
      height: auto;
    }
  }
  @include onDesktop {
    width: 50%;
    margin-top: 0;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10%;
    right: -40%;
    width: 85%;
    height: 130%;
    border-radius: 50%;
    background-color: #d8faff;
    z-index: -1;

    @include onTablet {
      bottom: -5%;
      right: -75%;
      width: 120%;
      height: 115%;
    }
    @include onDesktop {
      width: 150%;
      height: 100%;
      top: 0;
      right: -100%;
    }
  }
}

.video_intro {
  position: relative;
  width: 100%;
  height: 300px;
  background: #3f455b;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  margin-top: 5rem;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  @include onTablet {
    width: 90%;
    height: 300px;
    margin: 5rem auto;
    max-width: 600px;
  }

  @include onDesktop {
    width: 90%;
    height: 300px;
    margin: 5rem auto 0 0;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.what_we_do {
  width: 100%;
  padding: 3rem 0;

  @include onTablet {
    padding: 5rem 0;
  }

  @include on1920 {
    padding: 7rem 0;
  }
  h1 {
    color: $typographyColor2;
    font-size: $typography2;
    text-decoration: underline;
  }
  p {
    font-size: $typography4;
    margin-top: 1.2rem;
    font-style: normal;
    font-weight: 400;
    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
}

.our_team {
  padding: 3rem 0;

  @include onTablet {
    padding: 5rem 0;
  }

  @include on1920 {
    padding: 7rem 0;
  }
  h1 {
    color: $typographyColor2;
    font-size: $typography2;
    text-decoration: underline;
  }
  p {
    margin: 1.25rem 0 3.25rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: $typography4;
  }
}

.team_cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  @include onTablet {
    margin: 0 auto;
    width: 70%;
  }
  @include onDesktop {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
}

.team_card {
  width: 100%;
  min-width: 280px;
  border-radius: 1.25rem;
  border: 1px solid $secondaryColor4;
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;

  @include onDesktop {
    width: calc(100% / 2 - 1rem);
  }
  @include on1920 {
    width: calc(100% / 3 - 1.5rem);
  }
}

.member_photo {
  width: 30%;
  img {
    width: 90%;
    max-width: 100%;
    min-width: 50px;
  }
}

.member_info {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  h2 {
    font-size: $typography4;
    color: $typographyColor1;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  span {
    font-style: normal;
    font-weight: 600;
    font-size: $typography5;
    line-height: 115%;
  }
  div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    span {
      font-weight: 400;
      word-wrap: break-word;
    }
  }
}

.form_wrapper {
  padding-top: 3rem;

  @include onTablet {
    padding-top: 5rem;
  }

  @include on1920 {
    padding-top: 7rem;
  }
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: -25%;
    width: 150%;
    height: 40%;
    border-radius: 50% 50% 0 0;
    background-color: #d8faff;
    z-index: -1;
  }
}
