@import "../../global-styles/fonts.scss";
@import "../../global-styles/colors.scss";
@import "../../utils/mixins.scss";

.section {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 3rem 1rem;
  background-image: url("../../images/languages/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 35rem left 0;

  @include onTablet {
    background-image: url("../../images/languages/background-desktop-rotate.png");
  }
  @include onDesktop {
    background-position: top 15rem left 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  // @include onDesktop {
  //   margin-left: 5%;
  // }
  @include on1920 {
    margin-left: 10%;
  }
}
.title {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 800;
  color: $typographyColor2;
  font-size: clamp(32px, 3.1vw, 64px);
  line-height: 1.3;
  text-decoration-line: underline;
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 23.3rem;
  padding: 1rem;
  column-gap: 1rem;
  row-gap: 4rem;
  background-color: #ffffff;
  border: 1px solid #616161;
  border-radius: 2rem;

  @include onTablet {
    max-width: 43rem;
    padding: 3rem 3.5rem;
    column-gap: 2rem;
  }
  // @include onDesktop {
  //   justify-content: flex-end;
  //   max-width: 57.2rem;
  //   grid-column-gap: 1.25rem;
  //   column-gap: 1.25rem;
  // }
  // @include on1920 {
  //   max-width: 63.2rem;
  // }
  @include onDesktop {
    justify-content: flex-end;
    max-width: 63.2rem;
    grid-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  width: 10rem;
  height: 10rem;
  list-style: none;
  text-align: center;
  transition: all 0.5ms ease-in-out;
  &:hover .img {
    cursor: pointer;
    border: 0.25rem solid #00dcff;
  }
  // @include onDesktop {
  //   width: 9rem;
  //   height: 9rem;
  // }
  // @include on1920 {
  //   width: 10rem;
  //   height: 10rem;
  // }
}
.input {
  display: none;
  &:checked + .label > .img {
    border: 0.25rem solid #00dcff;
  }
}
.label {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: $typography4;
  font-weight: 700;
}
.img {
  width: inherit;
  border-radius: 15px;
  border: 2px solid #ff6501;
}
.mainImg {
  display: none;
  @include onTablet {
    display: block;
    max-width: 16rem;
    transform: scaleX(-1);
  }
  // @include onDesktop {
  //   position: absolute;
  //   display: block;
  //   max-width: 25rem;
  //   transform: scaleX(1);
  //   right: 1%;
  //   bottom: 22%;
  // }
  @include onDesktop {
    display: none;
  }
  @include on1920 {
    position: absolute;
    display: block;
    max-width: 100%;
    transform: scaleX(1);
    right: 5%;
    bottom: 30%;
  }
}
.button {
  width: 14rem;
  height: 3rem;

  border: 3px solid #000000;
  border-radius: 1rem;
  background-color: #ffffff;
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 700;

  transition: all 0.5ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    border: none;
    color: #ffffff;
    background-color: #ff6501;
  }
  @include onTablet {
    align-self: flex-end;
  }
}
