@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.FAQ {
  padding: 1.8rem 0;

  @include onTablet {
    padding: 3.25rem 0;
  }

  @include onDesktop {
    padding: 4.5rem 0;
  }

  @include on1920 {
    padding: 6rem 0;
  }

  &__title {
    font-weight: 800;
    font-size: $typography2;
    line-height: 130%;
    text-decoration-line: underline;

    color: $typographyColor2;
    margin-bottom: 3.1rem;

    @include onTablet {
      margin-bottom: 4.4rem;
    }

    @include onDesktop {
      margin-bottom: 4rem;
    }

    @include on1920 {
      margin-bottom: 5.6rem;
    }
  }

  &__item {
    margin-bottom: 2.5rem;

    @include onDesktop {
      margin-bottom: 2.4rem;
    }

    @include on1920 {
      margin-bottom: 3.1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__accordionTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: clamp(20px, 1.66vw, 32px);
    line-height: 115%;
    gap: 1rem;

    &:hover {
      cursor: pointer;
    }

    @include onDesktop {
      gap: 1rem;
    }

    @include on1920 {
      gap: 1.4rem;
    }
  }

  &__content {
    max-height: 0;
    padding-left: 3.1rem;
    overflow: hidden;

    font-size: $typography4;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
  }

  &__content.show {
    height: auto;
    max-height: 6.2rem;
    padding-top: 1.9rem;
    transition: all 0.3s ease-in-out;
  }

  &__question {
    margin: 0;

    font-weight: 600;
    font-size: clamp(19px, 1.66vw, 32px);
    line-height: 130%;

    @include onDesktop {
      font-size: 1.5rem;
    }

    @include on1920 {
      font-size: 2rem;
    }
  }

  &__icon {
    @include onDesktop {
      width: 2.1rem;
      height: 2.1rem;
    }

    @include on1920 {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

.accordion_arrow {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  width: 40px;
  height: 40px;
}

.expanded_show {
  transform: rotate(180deg);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  width: 40px;
  height: 40px;
}
.accordion_content {
  p {
    margin: 0 0 0 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: $typography4;
  }
}

.accordion_title {
  display: flex;
  align-items: center;
  h1 {
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(20px, 1.6vw, 32px);
    line-height: 115%;
    color: $typographyColor1;
  }
}
