@import "../../global-styles/colors.scss";

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.main_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 3.5rem 0;
}
.left_intro {
  width: 50%;
  img {
    width: 80%;
  }
  p {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(14px, 1.1vw, 20px);
    &:first-of-type {
      margin-top: 6rem;
    }
  }
}
.right_intro {
  width: 50%;
  position: relative;
  .absoluted_interview_cat {
    position: absolute;
    bottom: -31%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: -1;
  }
  h1 {
    font-size: clamp(32px, 3.3vw, 64px);
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    text-decoration: underline;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -20%;
      left: -30%;
      transform: translate(25%, -20%);
      width: clamp(150px, 15.6vw, 300px);
      height: clamp(150px, 15.6vw, 300px);
      background-color: #eefdff;
      border-radius: 50%;
      z-index: -1;
    }
  }
  p {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(14px, 1.1vw, 20px);
    &:first-of-type {
      margin-top: 2rem;
    }
  }
}

.instruction {
  padding: 18rem 0 10rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondaryColor2;
    border-radius: 49% 51% 0% 0% / 35% 33% 67% 65%;
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 50%;
    background-color: $primaryColor3;
    z-index: -2;
    border-radius: 72% 28% 0% 0% / 62% 5% 95% 38% ;
  }
}

.instruction_wrapper {
  h1 {
    color: $typography2;
    text-decoration: underline;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(28px, 2.5vw, 48px);
    line-height: 130%;
    &:nth-child(1) {
      margin-bottom: 2.875rem;
    }
  }
}
.accordion_title {
  display: flex;
  align-items: center;
  h1 {
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(20px, 1.6vw, 32px);
    line-height: 115%;
    color: $typography1;
  }
}
.accordion_arrow {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: .5s ease-in-out;
  width: 40px;
  height: 40px;
}

.expanded_show {
  transform: rotate(180deg);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: .5s ease-in-out;
  width: 40px;
  height: 40px;
}
.accordion_content {
  p {
    margin-left: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(14px, 1.1vw, 20px);
  }
}
.video_block {
  width: 100%;
  height: auto;
  padding: 12rem 0 16rem;
}
.video_instruction_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}

@media (max-width: 992px) {
  .video_instruction_block {
    flex-direction: column;
  }
}

.instruction_video_title {
  position: relative;
  width: calc(100% / 3 - 1rem);
  height: 200px;
  background: #3f455b;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
.video_instruction {
  width: 70%;
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: clamp(28px, 2.5vw,48px);
    line-height: 130%;
    color: $typography2;
    text-decoration: underline;
  }
  p {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(14px, 1.1vw, 20px);
    margin-top: 1.5rem;
  }
}

.video_examples {
  padding: 13.75rem 0 0 0;
}

.video_examples_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.75rem;
}
.video_examples {
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: clamp(28px, 2.5vw,48px);
    line-height: 130%;
    color: $typography2;
    text-decoration: underline;
  }
}