// Primary Colors
$primaryColor1: #ff6501;
$primaryColor2: #fbbf13;
$primaryColor3: #00dcff;
$primaryColor4: #d8faff;
$primaryColorVacancy: #ff6501;

// Secondary Colors
$secondaryColor1: #ff5757;
$secondaryColor2: #eefdff;
$secondaryColor3: #2c4075;
$secondaryColor4: #616161;
$secondaryColor5: #ffffff;

// Typography
$typographyColor1: #000000;
$typographyColor2: #3F455B;
