

// Primary Colors
$primaryColor1: #FF6501;
$primaryColor2: #FBBF13;
$primaryColor3: #00DCFF;
$primaryColor4: #D8FAFF;


// Secondary Colors
$secondaryColor1: #FF5757;
$secondaryColor2: #EEFDFF;
$secondaryColor3: #2C4075;
$secondaryColor4: #616161;
$secondaryColor5: #FFFFFF;


// Typography
$typography1: #000000;
$typography2: #3F455B;

