@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";
@import "../../utils/mixins.scss";

.category_page {
  border: 2px solid $secondaryColor4;
  border-radius: 1.25rem;
  padding: 1.25rem 1rem;
  margin-top: 5rem;

  @include onTablet {
    padding: 2.25rem 2rem;
    border: 2px solid $secondaryColor4;
    margin-top: 10rem;
  }

  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: clamp(32px, 3.3vw, 64px);
    color: $typographyColor1;
    margin-top: 2rem;
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.4;
  }

  h2 {
    margin: 2rem 0;
  }

  ul {
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;

    li {
      line-height: 1.4;
    }
  }

  button {
    cursor: pointer;
    background-color: $primaryColorVacancy;
    padding: 1rem 5rem;
    border-radius: 1rem;
    color: $secondaryColor5;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px, 1vw, 20px);
    text-decoration: none;
    box-shadow: 0px 0px 17px 5px rgba(255, 101, 1, 0.25);
    transition: 0.3s ease;
    border: none;

    &:hover {
      background-color: $primaryColor2;
    }
  }
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 3.5rem 0;

  @include onTablet {
    width: 80%;
  }
}

.category_vacancies {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  margin: 4rem 0;
}

.category_form {
  margin: 2rem 0 0 0;
}

.toTopButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @include onTablet {
    justify-content: flex-end;
  }
}


.activeCrumb {
  color: $primaryColorVacancy;
  font-weight: 700 !important;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 115%;
  text-transform: capitalize;
}
.crumbArrow {
  color: $primaryColorVacancy;
}

.normalCrumb {
  color: $secondaryColor4;
  font-weight: 500 !important;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 115%;
}