@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.VacancyCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border: 0.1rem solid $secondaryColor4;
  border-radius: 1.2rem;
  padding: 2.5rem 1.3rem 2.5rem 1.6rem;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 2.5rem;
  }

  @media (min-width: 1360px) {
    align-items: center;
    flex-direction: row;
    padding: 2.1rem 1.5rem 2.1rem 2.2rem;
    gap: 2.7rem;
  }

  @media (min-width: 1920px) {
    padding: 3.2rem 2.2rem 3.2rem 3.4rem;
  }

  &:hover {
    outline: 0.2rem solid $primaryColor1;
    border-color: transparent;
  }

  &__info {
    width: 100%;

    @media (min-width: 1360px) {
      width: 65%;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: $typography2;
    line-height: 115%;
    margin-bottom: 0.6rem;

    @media (min-width: 768px) {
      font-weight: 700;
      margin-bottom: 0.9rem;
    }

    @media (min-width: 1360px) {
      margin-bottom: 0.7rem;
    }

    @media (min-width: 1920px) {
      margin-bottom: 0.9rem;
    }
  }

  &__salary {
    margin: 0 0 1.2rem 0;
    font-weight: 600;
    font-size: $typography3;
    line-height: 150%;

    @media (min-width: 768px) {
      margin: 0 0 1.9rem 0;
    }
  }

  &__description {
    width: 100%;
    line-height: 140%;
    color: $secondaryColor4;
    font-size: $typography3;
    margin: 0 0 2.2rem 0;

    @media (min-width: 768px) {
      line-height: 150%;
    }

    @media (min-width: 1360px) {
      margin: 0;
    }
  }

  &__button {
    font-weight: 600;
    font-size: $typography4;
    line-height: 166%;
    color: $secondaryColor5;

    background: $primaryColor2;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0px 0px 1.1rem 0.3rem rgba(255, 101, 1, 0.25);
    border-radius: 0.9rem;
    border: none;

    transition: 0.3s all;

    &:hover {
      cursor: pointer;
      background: $primaryColor1;
    }

    @media (min-width: 768px) {
      width: 19.2rem;
      height: 3.9rem;
    }

    @media (min-width: 1360px) {
      width: 12.8rem;
      height: 2.6rem;
    }

    @media (min-width: 1920px) {
      width: 19.2rem;
      height: 3.9rem;
    }
  }

  &__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.8rem;
    padding: 0.6rem 0.7rem 0.6rem 1.5rem;
    background: $secondaryColor1;
    border-radius: 0.9rem;

    font-size: 1rem;
    line-height: 115%;
    color: $secondaryColor5;

    &--desktop {
      display: none;
      position: absolute;

      @include onDesktop {
        display: flex;
        right: 0;
        top: 1.6rem;
        width: 4.2rem;
        height: 1.2rem;
      }

      @media (min-width: 1360px) {
        width: 5.5rem;
        height: 1.9rem;
      }

      @media (min-width: 1920px) {
        width: 8.3rem;
        height: 2.5rem;
      }
    }

    &--mobile {
      margin-bottom: 1.9rem;
      width: 8.3rem;
      height: 2.5rem;
      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (min-width: 1360px) {
      font-size: 0.7rem;
      padding: 0.4rem 1rem;
      gap: 0.6rem;

      top: 2.1rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1920px) {
      font-size: 1rem;
      padding: 0.7rem 1.4rem;
      gap: 0.8rem;

      top: 3.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__fireIcon {
    width: 1.1rem;
    height: 1.4rem;

    @media (min-width: 1360px) {
      width: 0.7rem;
      height: 0.9rem;
    }

    @media (min-width: 1920px) {
      width: 1.1rem;
      height: 1.4rem;
    }
  }
}
