@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.Spheres {
  padding: 7.5rem 0;

  @include onTablet {
    padding: 12.5rem 0;
  }

  @include onDesktop {
    padding: 11.7rem 0;
  }

  @include on1920 {
    padding: 15.6rem 0;
  }

  &__title {
    font-weight: 800;
    font-size: $typography2;
    line-height: 130%;
    text-decoration-line: underline;
    margin-top: 0;
    margin-bottom: 3.1rem;

    color: $typography2;

    @include onTablet {
      margin-bottom: 4.4rem;
    }

    @include onDesktop {
      margin-bottom: 4.2rem;
    }

    @include on1920 {
      margin-bottom: 5.6rem;
    }
  }

  &__icon {
    width: 9.6rem;
    height: 9.6rem;

    border: 0.1rem solid $primaryColor1;
    border-radius: 0.9rem;
  }

  &__sphere {
    text-align: center;
    transition: all 0.3s;

    &:hover {
      transform: scale(105%);
    }
  }

  &__sphere-title {
    font-weight: 700;
    font-size: $typography4;
    line-height: 115%;
    margin: 0.9rem 0 1.9rem;

    @include onDesktop {
      margin: 1.4rem 0 0;
    }

    @include on1920 {
      margin: 1.9rem 0 0;
    }
  }
}
