@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.Spheres {
  &__block {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 120px);
    gap: 1rem;

    @include onTablet {
      grid-template-columns: repeat(3, 120px);
      justify-content: space-around;
    }

    @include onDesktop {
      grid-template-columns: repeat(6, 120px);
      justify-content: space-between;
      column-gap: 4.5rem;
    }
  }

  &__title {
    font-weight: 800;
    font-size: $typography2;
    line-height: 130%;
    color: $typographyColor2;

    margin-top: 0;
    margin-bottom: 3rem;

    @include onTablet {
      margin-bottom: 4rem;
    }

    @include on1920 {
      margin-bottom: 5rem;
    }
  }

  &__icon {
    width: 100%;
    cursor: pointer;

    border: 2px solid $primaryColor1;
    border-radius: 0.9rem 0.9rem 0 0;
  }

  &__sphere {
    text-align: center;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .9rem;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 1.1rem 0.3rem rgba(255, 101, 1, 0.25);
    }
  }

  &__sphere-title {
    width: 100%;
    font-weight: 700;
    color: $secondaryColor5;
    font-size: $typography5;
    line-height: 115%;
    padding: .6rem 0;
    background-color: $primaryColor1;
    border-radius: 0 0 0.9rem 0.9rem;
  }
}