@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.Spheres {
  &__block {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    @include onTablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include onDesktop {
      grid-template-columns: repeat(6, 120px);
      column-gap: 4.5rem;
    }
  }
  &__title {
    font-weight: 800;
    font-size: $typography2;
    line-height: 130%;
    color: $typographyColor2;

    margin-top: 0;
    margin-bottom: 3rem;

    @include onTablet {
      margin-bottom: 4rem;
    }

    @include on1920 {
      margin-bottom: 5rem;
    }
  }

  &__icon {
    width: 100%;
    max-width: 125px;
    height: auto;
    cursor: pointer;

    border: 0.1rem solid $primaryColor1;
    border-radius: 0.9rem;
  }

  &__sphere {
    text-align: center;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
    }
  }
  &__sphere-title {
    font-weight: 700;
    color: $typographyColor1;
    font-size: $typography5;
    line-height: 115%;
    margin: 0.9rem 0 1.9rem;
    text-decoration: underline;

    @include onDesktop {
      margin: 1.4rem 0 0;
    }

    @include on1920 {
      margin: 1.9rem 0 0;
    }
  }
}
