@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.container {
  position: relative;
  padding: 3rem 1.8rem 6rem;

  @include onDesktop {
    margin: 0 auto;
    padding: 3rem 12% 6rem;
  }
}

.title {
  position: relative;
  display: inline-block;
  text-decoration-line: underline;
  font-weight: 900;
  color: $typographyColor1;
  font-size: $typography1;
  margin-bottom: 5rem;
  @include onTablet {
    margin-bottom: 3rem;
  }
  @include onDesktop {
    margin-bottom: 4rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 100%;
    top: -25%;
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
    background-image: url("../../icons//thankYouPage/stars.png");
    z-index: -1;
    @media screen and (max-width: 400px) {
      display: none;
    }
    @include onDesktop {
      top: -55%;
      left: 75%;
    }
    @include on1920 {
      top: -35%;
      left: 80%;
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;

  @include onDesktop {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 6rem;
    justify-content: space-between;
  }
  @include on1920 {
    column-gap: 12rem;
  }
}
.item {
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  row-gap: 1.25rem;
}
.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(24px, 1.9vw, 36px);
  color: $typographyColor1;
}
.text {
  font-weight: 400;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: 1.5;
  color: $typographyColor1;
}
.img_wr {
  // position: relative;
  margin: 0 auto;
  & .img {
    @media screen and (max-width: 458px) {
      display: block;
      max-width: 100%;
      height: auto;
    }
    @include onDesktop {
      position: absolute;
      bottom: -10%;
      right: -10%;
    }
    @include on1920 {
      right: 0;
      bottom: 10%;
      transform: scale(1.2);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -2;
    right: 55%;
    top: 0;
    background-color: #eefdff;
    @include onTablet {
      right: -10%;
    }
    @include onDesktop {
      top: -190%;
      right: -30%;
    }
    @include on1920 {
      top: -180%;
      right: -20%;
    }
  }
}
.decoration {
  position: absolute;
  bottom: 0;
  left: -25%;
  width: 150vw;
  height: 45vh;
  border-radius: 70% 70% 0% 0%;
  z-index: -1;
  background-color: #d8faff;
  @include onTablet {
    height: 60vh;
  }
  @include onDesktop {
    width: 110vw;
    height: 70vh;
    left: -5%;
    bottom: 0;
  }
}
.button {
  max-width: 18.75rem;
  background: #fff;
  text-align: center;
  cursor: pointer;
  border: 0.2rem #000 solid;
  border-radius: 0.9rem;
  font-size: clamp(16px, 1vw, 20px);
  padding: 0.9rem;
  color: #000;
  font-weight: 700;
  transition: all ease-in-out 0.25s;
  &:hover {
    background: #ff6501;
    border: 0.2rem #ff6501 solid;
    color: #fff;
  }
  &:active {
    transform: translateY(0.1rem);
  }
}
