@import '../../utils/mixins.scss';

// we need to use "!important" to work with library "React Select"

.field {
  position: absolute;
  top: 20px;
  right: 50px;
}

.Vacancies {
  &__title {
    font-weight: 900;
    line-height: 115%;
    text-decoration-line: underline;
    font-size: 28px;
    margin: 0 0 50px 0;
    color: #3f455b;

    @include onTablet {
      font-size: 38px;
      margin: 0 0 72px 0;
    }

    @include onDesktop {
      font-size: 24px;
      margin: 0 0 35px 0;
    }

    @include on1440 {
      font-size: 36px;
      margin: 0 0 53px 0;
    }

    @include on1920 {
      font-size: 48px;
      margin: 0 0 70px 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    gap: 33px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 85px;
      flex-direction: row;
    }

    @include on1440 {
      margin-bottom: 113px;
    }

    @include on1920 {
      margin-bottom: 170px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;

    @include onDesktop {
      margin-bottom: 66.5px;
    }

    @include on1440 {
      gap: 43px;
      margin-bottom: 89px;
    }

    @include on1920 {
      gap: 64px;
      margin-bottom: 133px;
    }
  }

  &__selects {
    display: flex;
    order: 2;
    gap: 40px !important;

    @include onTablet {
      order: 0;
    }

    @include on1440 {
      gap: 38px;
    }

    @include on1920 {
      gap: 50px;
    }
  }
}

.custom-select {
  &--locale {
    display: flex !important;
  }

  &__control {
    width: auto;
    height: auto;
    padding: 0 10px;
    border: none !important;
    display: flex !important;
    gap: 1px !important;

    @include onDesktop {
      width: 160px;
      height: 27px;
    }

    @include on1440 {
      width: 213px;
      height: 36px;
    }
    
    @include on1920 {
      width: 319px;
      height: 54px;
    }

    &:hover {
      cursor: pointer;
    }

    &--menu-is-open .custom-select__indicators .custom-select__indicator {
      transition: 0.2s all;
      transform: rotate(180deg);
    }

    &--menu-is-open {
      background: #D8FAFF !important;
      border-radius: 15px !important;
      outline: none !important;
      box-shadow: 0 !important;
    }
  }

  &__value-container {
    padding-left: 0 !important;
  }

  &__placeholder {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 20px !important;
    }

    @include onDesktop {
      font-size: 10px !important;
    }

    @include on1440 {
      font-size: 15px !important;
    }

    @include on1920 {
      font-size: 20px !important;
    }
  }

  &__single-value {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 13px !important;
    }

    @include onDesktop {
      font-size: 10px !important;
    }

    @include on1440 {
      font-size: 15px !important;
    }

    @include on1920 {
      font-size: 20px !important;
    }
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    padding: 0 !important;
  }

  &__menu {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 130% !important;

    color: #000000 !important;

    background: #FFFFFF !important;
    border: 1px solid #616161 !important;
    border-radius: 30px !important;

    @include onDesktop {
      font-size: 12px !important;
    }

    @include on1440 {
      font-size: 18px !important;
    }

    @include on1920 {
      font-size: 24px !important;
    }
  }

  &__option {
    border-radius: 30px !important;
    // &:hover, :active {
    // }
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include on1440 {
    font-size: 15px;
  }

  @include on1920 {
    font-size: 20px;
  }
}

.page-num {
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;

  @include onDesktop {
    font-size: 10px;
  }

  @include on1440 {
    font-size: 15px;
  }

  @include on1920 {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff6501;

    @include onDesktop {
      width: 17px;
      height: 17px;
    }

    @include on1440 {
      width: 23px;
      height: 23px;
    }
  
    @include on1920 {
      width: 34px;
      height: 34px;
    }
  }
}
