@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

// we need to use "!important" to work with library "React Select"

.field {
  position: absolute;
  top: 20px;
  right: 50px;
}

.section {
  padding: 3.5rem 0 7rem 0;

  @include onTablet {
    padding: 3.5rem 0 10rem 0;
  }
}
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  @include onTablet {
    width: 80%;
  }
}
.Vacancies {
  &__title {
    font-weight: 900;
    line-height: 115%;
    text-decoration-line: underline;
    font-size: 28px;
    margin-bottom: 3rem;
    color: #3f455b;

    @include onTablet {
      font-size: 26px;
      margin-bottom: 4rem;
    }

    @include onDesktop {
      font-size: 36px;
    }

    @include on1920 {
      font-size: 48px;
      margin-bottom: 5rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    gap: 33px;

    @include onTablet {
      flex-direction: row;
      margin-bottom: 77px;
    }

    @include onDesktop {
      margin-bottom: 113px;
    }

    @include on1920 {
      margin-bottom: 170px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;

    @include onDesktop {
      gap: 43px;
      margin-bottom: 89px;
    }

    @include on1920 {
      gap: 64px;
      margin-bottom: 133px;
    }
  }

  &__selects {
    display: flex;
    order: 2;
    gap: 40px !important;

    @include onDesktop {
      order: 0;
      gap: 38px;
    }

    @include on1920 {
      gap: 50px;
    }
  }
}

.custom-select {
  &--locale {
    display: flex !important;
  }

  &__control {
    display: flex !important;
    gap: 1px !important;

    &:hover {
      cursor: pointer;
    }

    &--menu-is-open .custom-select__indicators .custom-select__indicator {
      transition: 0.2s all;
      transform: rotate(180deg);
    }
  }

  &__placeholder {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 13px !important;
    }

    @include onDesktop {
      font-size: 15px !important;
    }

    @include on1920 {
      font-size: 20px !important;
    }
  }

  &__indicator-separator {
    display: none;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (min-width: 1360px) {
    font-size: 15px;
  }

  @media (min-width: 1920px) {
    font-size: 20px;
  }
}

.page-num {
  font-weight: 700;
  font-size: $typography4;
  line-height: 115%;

  &:hover {
    cursor: pointer;
  }

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff6501;

    @include onDesktop {
      width: 23px;
      height: 23px;
    }

    @include on1920 {
      width: 34px;
      height: 34px;
    }
  }
}

.Vacancies__about {
  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 6.25rem;
    padding-bottom: 3rem;
    @include onTablet {
      padding-bottom: 5rem;
    }
    @include on1920 {
      padding-bottom: 7rem;
    }
  }
  &__item {
    position: relative;
    display: grid;
    row-gap: 5rem;
    @include onTablet {
      align-items: center;
      justify-content: space-between;
      row-gap: 5rem;
      column-gap: 6rem;
    }
    @include onDesktop {
      grid-auto-flow: column;
      column-gap: 9rem;
    }

    &.accent {
      border-radius: 1.75rem;
      padding: 3.75rem 1.25rem;
      background-color: $secondaryColor2;
      display: flex;
      flex-direction: column-reverse;
      @include onTablet {
        padding: 6.25rem 2.5rem;
      }

      @include onDesktop {
        flex-direction: initial;
      }
      @include on1920 {
        padding: 5.25rem 3.5rem;
      }
    }
  }

  &__textWrapper {
    display: grid;
    row-gap: 2rem;
    width: 100%;

    &--short {
      display: grid;
      row-gap: 2rem;
      width: 100%;
      @include onDesktop {
        width: 80%;
      }
    }
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: $typography2;
    line-height: 1.3;
    color: $typographyColor2;
    text-decoration-line: underline;
    &.bold {
      font-weight: 900;
      color: $typographyColor1;
      font-size: $typography1;
    }
  }
  &__text {
    font-weight: 400;
    font-size: $typography4;
    line-height: 1.5;
    color: $typographyColor1;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    @include onDesktop {
      max-width: 30rem;
      height: auto;
    }
  }
}
.Vacancies__about__item {
  &__requirements__list {
    display: grid;
    row-gap: 1rem;
    list-style: disc;
    padding-left: 1.25rem;
    font-weight: 400;
    font-size: $typography4;
    line-height: 1.5;
    color: $typographyColor1;
    @include onTablet {
      font-size: 1.25rem;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    @include onTablet {
      position: relative;
      max-width: 30rem;
    }
  }
}
.Vacancies__about__imgWrapper {
  position: relative;
}
.Vacancies__about__decoration {
  &--small {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: -10%;

    z-index: -1;
    border-radius: 50%;
    background-color: $secondaryColor2;
    @include onTablet {
      width: 20rem;
      height: 20rem;
      top: -10%;
      right: 55%;
    }
    @include onDesktop {
      width: 25rem;
      height: 25rem;
      top: -10%;
      right: 35%;
    }
  }
  &--big {
    display: none;
    @include onDesktop {
      position: absolute;
      display: block;
      bottom: 10%;
      right: -50%;
      width: 755px;
      height: 755px;
      border-radius: 50%;

      z-index: -1;
      background-color: $secondaryColor2;
    }
    @include on1920 {
      right: -45%;
    }
  }
}
.form_wrapper {
  padding-top: 3rem;

  @include onTablet {
    padding-top: 5rem;
  }

  @include on1920 {
    padding-top: 7rem;
  }
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: -25%;
    width: 150%;
    height: 40%;
    border-radius: 50% 50% 0 0;
    background-color: #d8faff;
    z-index: -1;
  }
}
