@import '../../utils/mixins.scss';

// we need to use "!important" to work with library "React Select"

.field {
  position: absolute;
  top: 20px;
  right: 50px;
}

.container {
  width: 100%;
  padding: 0 29px;
  margin: 0 auto;
  
  @include onDesktop {
    width: 76%;
  }
}

.Vacancies {
  &__title {
    font-weight: 900;
    line-height: 115%;
    text-decoration-line: underline;
    font-size: 28px;
    margin: 50px 0;
    color: #3f455b;

    @include onTablet {
      font-size: 26px;
      margin: 43px 0;
    }

    @include onDesktop {
      font-size: 24px;
      margin: 35px 0;
    }

    @include on1440 {
      font-size: 36px;
      margin: 47px 0;
    }

    @include on1920 {
      font-size: 48px;
      margin: 70px 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    gap: 33px;

    @include onTablet {
      margin-bottom: 77px;
    }

    @include onDesktop {
      margin-bottom: 85px;
      flex-direction: row;
    }

    @include on1440 {
      margin-bottom: 113px;
    }

    @include on1920 {
      margin-bottom: 170px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;

    @include onDesktop {
      margin-bottom: 66.5px;
    }

    @include on1440 {
      gap: 43px;
      margin-bottom: 89px;
    }

    @include on1920 {
      gap: 64px;
      margin-bottom: 133px;
    }
  }

  &__selects {
    display: flex;
    order: 2;
    gap: 40px !important;

    @include onDesktop {
      order: 0;
    }

    @include on1440 {
      gap: 38px;
    }

    @include on1920 {
      gap: 50px;
    }
  }
}

.custom-select {
  &--locale {
    display: flex !important;
  }

  &__control {
    display: flex !important;
    gap: 1px !important;

    &:hover {
      cursor: pointer;
    }

    &--menu-is-open .custom-select__indicators .custom-select__indicator {
      transition: 0.2s all;
      transform: rotate(180deg);
    }
  }

  &__placeholder {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 13px !important;
    }

    @include onDesktop {
      font-size: 10px !important;
    }

    @include on1440 {
      font-size: 15px !important;
    }

    @include on1920 {
      font-size: 20px !important;
    }
  }

  &__indicator-separator {
    display: none;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include on1440 {
    font-size: 15px;
  }

  @include on1920 {
    font-size: 20px;
  }
}

.page-num {
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;

  @include onDesktop {
    font-size: 10px;
  }

  @include on1440 {
    font-size: 15px;
  }

  @include on1920 {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff6501;

    @include onDesktop {
      width: 17px;
      height: 17px;
    }

    @include on1440 {
      width: 23px;
      height: 23px;
    }
  
    @include on1920 {
      width: 34px;
      height: 34px;
    }
  }
}
