@import '../../utils/mixins.scss';
@import '../../global-styles/colors.scss';

.MainScreen {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  padding: 2.1rem 1.8rem 3.7rem;

  background-image: url('../../images/mainScreen/background-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 38.1rem left 0;

  @include onTablet {
    padding: 3.1rem 2.5rem 3.6rem;
    background-position: top -100% left 0;
  }

  @include onDesktop {
    flex-direction: row;
    align-items: center;
    gap: 12%;
    padding: 2.1rem 12% 6.2rem;
    margin: 0 auto;
    background-image: url('../../images/mainScreen/background-desktop.png');
    background-position: top -15% left 0;
  }

  &__image {
    height: 23.1rem;
    width: 22rem;

    @include onTablet {
      align-self: center;
      width: 26rem;
      height: 27.3rem;
    }

    @include onDesktop {
      text-align: inherit;
      width: 20.8rem;
      height: 21.8rem;
    }

    @include on1440 {
      width: 27.7rem;
      height: 29.1rem;
    }

    @include on1920 {
      width: 41.6rem;
      height: 43.6rem;
    }
  }

  &__title {
    margin: 0 0 1.9rem 0;
    font-weight: 900;
    font-size: 2rem;
    line-height: 130%;
    text-decoration-line: underline;

    @include onTablet {
      width: 70%;
      font-size: 2.8rem;
    }
    
    @include onDesktop {
      width: inherit;
      font-size: 2rem;
      margin: 0 0 1.6rem 0;
    }

    @include on1440 {
      font-size: 2.7rem;
      margin: 0 0 2.4rem 0;
    }

    @include on1920 {
      font-size: 4rem;
      margin: 0 0 3.2rem 0;
    }
  }

  &__paragraph {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
    line-height: 150%;

    &_strong {
      font-weight: 600;
    }

    @include onTablet {
      margin: 0 0 1.9rem 0;
      font-size: 1.2rem;
    }

    @include onDesktop {
      font-size: 0.6rem;
      margin: 0 0 1.6rem 0;
    }

    @include on1440 {
      font-size: 0.9rem;
      margin: 0 0 2.4rem 0;
    }

    @include on1920 {
      font-size: 1.2rem;
      margin: 0 0 3.1rem 0;
    }
  }

  &__button {
    padding: 1.2rem 1.9rem;
    margin-bottom: 3.5rem;
    background: $primaryColor1;
    box-shadow: 0px 0px 1.1rem 0.3rem rgba(255, 101, 1, 0.25);
    border-radius: 0.9rem;
    border: none;

    font-weight: 700;
    font-size: 1rem;
    line-height: 115%;

    color: $secondaryColor5;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;

    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background: $primaryColor2;
    }

    @include onTablet {
      padding: 0;
      width: 18.9rem;
      height: 3.9rem;
      font-size: 1.2rem;
      margin-bottom: 3.6rem;
    }

    @include onDesktop {
      padding: 0;
      width: 9.4rem;
      height: 1.9rem;
      font-size: 0.6rem;
      margin-bottom: 0;
    }

    @include on1440 {
      width: 12.6rem;
      height: 2.6rem;
      font-size: 0.9rem;
    }

    @include on1920 {
      width: 18.9rem;
      height: 3.9rem;
      font-size: 1.2rem;
    }
  }

  &__buttonIcon {
    @include onTablet {
      width: 1.2rem;
      height: 1.2rem;
    }

    @include onDesktop {
      width: 0.7rem;
      height: 0.7rem;
    }

    @include on1440 {
      width: 1.1rem;
      height: 1.1rem;
    }

    @include on1920 {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
