@import '../../utils/mixins.scss';

.Partners {
  padding-top: 120px;

  @include onTablet {
    padding-top: 200px;
  }

  @include onDesktop {
    padding-top: 125px;
  }

  @include on1440 {
    padding-top: 188px;
  }

  @include on1920 {
    padding-top: 250px;
  }

  &__image-wrapper {
    max-height: 60px;
    text-align: center;

    @include onTablet {
      max-height: 88px;
    }
  }

  &__image {
    max-height: 60px;
  }

  &__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;
    text-decoration-line: underline;

    color: #3f455b;
    margin: 0 0 54px;

    @include onTablet {
      font-size: 38px;
      margin: 0 0 70px;
    }

    @include onDesktop {
      font-size: 24px;
      margin: 0 0 36px;
    }
  
    @include on1440 {
      font-size: 36px;
      margin: 0 0 55px;
    }
  
    @include on1920 {
      font-size: 48px;
      margin: 0 0 73px;
    }
  }
}
