@import "../../../utils/mixins.scss";
@import "../../../global-styles/colors.scss";
@import "../../../global-styles/fonts.scss";
* {
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

.feedback {
  position: relative;
  width: 100%;
  padding: 6rem 0;
  &_wr {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border: 3px solid $primaryColorVacancy;
    border-radius: 1.875rem;
    padding: 4.375rem 2.5rem;
    background-color: #fff;
  }
}
.img_wr_desktop {
  width: 70%;
  margin: -15rem 0 0 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.null_padding {
  margin: 0;
}

.feedback_top {
  position: absolute;
  bottom: 1rem;
  right: 0;
}




// .title {
//   max-width: 60%;
//   font-style: normal;
//   font-weight: 800;
//   font-size: $typography2;
//   line-height: 1.3;
//   color: $typographyColor2;
//   text-decoration-line: underline;
//   @include onTablet {
//     max-width: 40%;
//   }
// }
