@import "../../../utils/mixins.scss";
@import "../../../global-styles/colors.scss";
@import "../../../global-styles/fonts.scss";
* {
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

.feedback {
  position: relative;
  width: 100%;
  padding: 6rem 0;
  &_wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    width: 100%;
    margin: 0 auto;
    border: 3px solid $primaryColorVacancy;
    border-radius: 1.875rem;
    background-color: #fff;
    padding: 2rem 1.375rem;

    @include onTablet {
      padding: 2.375rem 2.5rem;
    }

    @include onTablet {
      padding: 4.375rem 2.5rem;
    }

  }
}
.img_wr_desktop {
  width: 70%;
  margin: -10rem 0 0 0;
  display: none;

  @include onDesktop {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.null_padding {
  margin: 0;
  width: 60%;
  display: none;

  @include onDesktop {
    display: block;
  }

}

.feedback_top {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translate(50%);
  border: 0;
  background-color: transparent;

  @include onTablet {
    right: 0;
  }
}




// .title {
//   max-width: 60%;
//   font-style: normal;
//   font-weight: 800;
//   font-size: $typography2;
//   line-height: 1.3;
//   color: $typographyColor2;
//   text-decoration-line: underline;
//   @include onTablet {
//     max-width: 40%;
//   }
// }
