* {
  box-sizing: border-box;
  &:after, &:before {
      box-sizing: border-box;
  }
}

.to_top {
  display: inherit;
  align-self: flex-end;
  margin: 3rem 0 0 0;
}

img {
  max-width: 100%;
}

.feedback{
  width: 100%;
  padding-bottom: 6rem;

  &-wr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &_title {
      font-weight: 800;
      font-size: 48px;
      max-width: 685px;
      color: #3F455B;
      line-height: 1.3;
      text-decoration: underline;
      padding: 3rem 0;
    }

    &_form {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 3px #FF6501 solid;
      background-color: #fff;
      padding: 70px 40px;
      border-radius: 30px;
      margin-top: 100px;
    }
  }

  &-img {
    position: absolute;
    width: 33%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    img {
      display: block;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  &-form {
    width: 65%;
    margin-left: auto;

    &_input {
      margin: 0 -10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      input, textarea {
        padding: 17px;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        display: block;
        border: 2px #00DCFF solid;
        border-radius: 8px;
        background: #D8FAFF;
        resize: none;
        &::placeholder {
          color: rgba(#616161, 0.6);
        }
        &:focus,
        &.valid {
          background: #fff;
          color: #000;
          &::placeholder {
            color: rgba(#616161, 0.6);
          }
        }
        &.invalid {
          border-color: red;
        }
      }

      &_name {
        width: 53%;
      }

      &_phone {
        width: 47%;
      }

      &_email {
        width: 67%;
      }

      &_age {
        width: 33%;
      }

      .retreat {
        padding: 10px;
      }

      &_text {
        font-size: 20px;
        line-height: 1.15;
        font-weight: 500;
        padding: 20px 10px 13px;
        width: 100%;
      }
    }

    //select

    .feedback-form_select {
      width: 100%;
      padding: 0 10px;
      &.invalid {
        .feedback-form_select__control {
          border-color: red;
        }
      }
      .valid {
        .feedback-form_select__control {
          background: #fff !important;
        }
      }

      &__placeholder {
        color: rgba(#616161, 0.6);
        font-size: 20px;
        font-weight: 500;
      }

      &__control,
      &__control--menu-is-open {
        padding: 13px;
        border: 2px #00DCFF solid;
        border-radius: 8px;
        background: #D8FAFF;
        box-shadow: none;
      }


      &__control:hover,
      &__control--menu-is-open:hover {
        border: 2px #00DCFF solid;
        box-shadow: none;
      }

      &__single-value {
        font-size: 20px;
        color: #000;
        font-weight: 500;
      }

      &__indicator-separator {
        display: none;
      }

      &__menu {
        z-index: 1;
      }

      &__indicators {
        position: relative;

        svg {
          display: none;
        }

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          transform: rotate(135deg);
          border-top: 2px #3F455B solid;
          border-right: 2px #3F455B solid;
          top: 50%;
          left: 0;
          margin-top: -6px;
        }
      }
    }

    //button

    &_btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 40px;
    }

    &_file {
      z-index: 0;
      display: block;
      position: relative;
      width: 35%;
      max-width: 308px;
      input {
        &::placeholder {
          color: #000;
        }
      }
    }

    &_button {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 1;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      display: block;
    }

    &_download {
      width: 100%;
      background: #fff;
      transition: all 0.3s;
      text-align: center;
      cursor: pointer;
      border: 3px #000 solid;
      border-radius: 15px;
      font-size: 20px;
      padding: 15px;
      transform-style: preserve-3d;
      color: #000;
      font-weight: 700;
      display: block;
      &:hover {
        color: #3F455B;
        border: 3px #FF6501 solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(2px);
      }
      &.invalid {
        border-color: red;
      }
      &.valid {
        background: #00DCFF;
      }
    }

    &_send {
      padding-left: 30px;
      max-width: 338px;
      width: 39%;
    }

    &_submit {
      background: #FF6501;
      width: 100%;
      transition: all 0.3s;
      cursor: pointer;
      border: 3px #FF6501 solid;
      border-radius: 15px;
      font-size: 20px;
      padding: 15px;
      transform-style: preserve-3d;
      color: #fff;
      display: block;
      box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      &:hover {
        border: 3px #fff solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}