.react-select {
  &-container {
    width: 100%;
    z-index: 2;
    &.invalid {
      border: 0.15rem solid red;
      border-radius: 0.5rem;
    }
  }
  &__placeholder {
    color: rgba(#616161, 0.6);
    font-size: 1.2rem;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  &__control {
    padding: 0.75rem 0.5rem !important;
    background-color: #d8faff !important;
    border: 0.1rem #00dcff solid !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
  }
  &__control:hover,
  &__control--menu-is-open:hover {
    border: 0.1rem #00dcff solid;
    box-shadow: none;
  }

  &__single-value {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  &__indicator-separator {
    display: none;
  }

  &__menu {
    z-index: 1;
  }

  &__indicators {
    position: relative;

    svg {
      display: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 0.7rem;
      height: 0.7rem;
      transform: rotate(135deg);
      border-top: 0.1rem #3f455b solid;
      border-right: 0.1rem #3f455b solid;
      top: 50%;
      left: 0;
      margin-top: -0.4rem;
      @media screen and (max-width: 768px) {
        width: 0.6rem;
        height: 0.6rem;
      }
    }
  }

  &__option {
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
}
