@import "../../../utils/mixins.scss";
@import "../../../global-styles/colors.scss";
@import "../../../global-styles/fonts.scss";
* {
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

.to_top_btn {
  position: absolute;
  bottom: 2%;
  right: 0%;
  display: inherit;
  align-self: flex-end;
  @include onDesktop {
    bottom: 4%;
    right: -8%;
  }
}

.feedback {
  position: relative;
  width: 100%;
  padding: 6rem 0;

  &_wr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.title {
  max-width: 70%;
  font-style: normal;
  font-weight: 800;
  font-size: $typography2;
  line-height: 1.3;
  color: $typographyColor2;
  text-decoration-line: underline;
  @include onTablet {
    max-width: 40%;
  }
}

.wr_form {
  width: 100%;
}
.form,
.form_padding {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  background-color: #fff;
  border: 0.2rem #ff6501 solid;
  padding: 2.5rem 1.5rem;
  border-radius: 1.9rem;
  justify-content: space-between;
}
.form {
  margin-top: 1.2rem;
  @include onTablet {
    margin-top: 5.5rem;
  }
  @include onDesktop {
    margin-top: 8rem;
    padding: 0rem 2.5rem;
    column-gap: 4rem;
  }
}
.form_padding {
  margin-top: 1.2rem;
  @include onTablet {
    margin-top: 5.5rem;
  }
  @include onDesktop {
    column-gap: 4rem;
  }
}
.img_wr_tablet {
  display: block;
  margin: 2rem 0;
  @include onDesktop {
    display: none;
  }
  .img,
  .imgIterview {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: 12.5rem;
  }
  .img {
    @include onTablet {
      width: 20rem;
    }
  }
  .imgIterview {
    @include onTablet {
      width: 20rem;
    }
  }
}
.img_wr_desktop {
  display: none;
  @include onDesktop {
    display: block;
  }
  .img {
    width: 20rem;
    @include onDesktop {
      width: 25rem;
      transform: scale(1.1) translate(0.5rem, -3.5rem);
    }
  }
  .imgIterview {
    width: 20rem;
    @include onDesktop {
      width: 25rem;
    }
  }
}
.buttons_wr {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.6rem;
  row-gap: 1rem;

  align-items: center;

  @include onTablet {
    column-gap: 1rem;
  }

  @include onDesktop {
    flex-direction: row;
    margin: 0;
    margin-top: 2.5rem;
    justify-content: space-between;
    width: 80%;
  }
  @include on1920 {
    width: 60%;
  }
}

.label_file {
  position: relative;
  width: 100%;

  font-size: $typography4;
  input {
    &::placeholder {
      color: #000;
    }
  }
}
.download_btn {
  width: 100%;
  background: #fff;
  text-align: center;
  border: 0.2rem #000 solid;
  border-radius: 0.9rem;
  font-size: $typography4;
  padding: 0.9rem;
  transform-style: preserve-3d;
  color: #000;
  font-weight: 700;

  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.3s;
  &:hover,
  &:active {
    color: #3f455b;
    border: 3px #ff6501 solid;
    transform: translateY(0.1rem);
  }
  &.invalid {
    border-color: red;
  }
  &.valid {
    background: #00dcff;
  }
}
.attach_CV_btn {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  display: block;
}

.submit_btn {
  display: block;
  width: 100%;

  background: #ff6501;
  padding: 0.9rem;
  color: #fff;

  border: 0.2rem #ff6501 solid;
  border-radius: 0.9rem;
  font-size: $typography4;

  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: translateY(0.1rem);
  }
}

.input_wr {
  display: flex;
  flex-direction: column;
  &:first-child {
    row-gap: 1rem;
  }
  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &:first-child {
      row-gap: 1rem;
    }
  }
  input,
  textarea {
    width: 100%;
    display: block;
    padding: 1.1rem;
    font-size: $typography4;
    font-weight: 500;
    border: 0.1rem #00dcff solid;
    border-radius: 0.5rem;
    background: #d8faff;
    resize: none;
    @include onTablet {
      padding: 1.1rem;
    }
    &::placeholder {
      color: rgba(#616161, 0.6);
    }
    &:focus,
    &.valid {
      background: #fff;
      color: #000;
      &::placeholder {
        color: rgba(#616161, 0.6);
      }
    }
    &.invalid {
      border-color: red;
    }
  }
}
.input {
  &_name {
    width: 100%;
    @include onDesktop {
      width: 53%;
    }
  }

  &_phone {
    width: 100%;
    @include onDesktop {
      width: calc(47% - 1rem);
      margin-left: 1rem;
    }
  }

  &_email {
    width: 100%;
    @include onDesktop {
      width: 67%;
    }
  }

  &_age {
    width: 100%;
    @include onDesktop {
      width: calc(33% - 1rem);
      margin-left: 1rem;
    }
  }

  &_text {
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 500;
    margin: 2rem 0 0.75rem 0;
    width: 100%;
    @include onDesktop {
      font-size: 1.2rem;
    }
  }
}
