@import '../../../utils/mixins.scss';

* {
  box-sizing: border-box;
  &:after, &:before {
      box-sizing: border-box;
  }
}

.to_top {
  display: inherit;
  align-self: flex-end;
  margin: 3rem 0 0 0;
}

img {
  max-width: 100%;
}

.feedback{
  width: 100%;
  padding-bottom: 6rem;

  &_wr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  // padding: 0 0 150px;
  @media screen and (max-width: 768px) {
    padding: 1.2rem 0;
  }
    &_title {
      font-weight: 800;
      font-size: 3rem;
      max-width: 685px;
      color: #3F455B;
      line-height: 1.3;
      text-decoration: underline;
      // padding: 3rem 0
      padding: 0 0 7.5rem;
      @media screen and (max-width: 1440px) {
        padding: 1.2rem 0 5rem;
        font-size: 2.4rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.7rem;
      }
    }
  }
  &-wr {
  max-width: 1490px;
    width: 100%;
     margin: 0 auto;
     padding: 0;
  @media screen and (max-width: 768px) {
     padding: 0 1.9rem;
     }
    &_form {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #fff;
      border: 0.2rem #FF6501 solid;
      padding: 4.4rem 2.5rem;
      border-radius: 1.9rem;
      margin-top: 6.2rem;
      @media screen and (max-width: 1200px) {
        margin-top: 0;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 1.9rem 1.6rem;
      }
    }
  }

  &-img {
    position: absolute;
    width: 33%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    transform: scale(1.1) translate(0.8rem, -5.4rem);
    img {
      display: block;
      max-height: 100%;
      pointer-events: none;
      margin: 0 auto;
    }
    @media screen and (max-width: 1200px) {
      position: relative;
      transform: none;
      width: 100%;
      max-width: 400px;
      padding: 1.2rem 0 0.6rem;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      max-width: 165px;
    }
  }

  &_form {
    width: 65%;
    margin-left: auto;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    &_input {
      margin: 0 -0.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      input, textarea {
        padding: 1.1rem;
        font-size: 1.2rem;
        font-weight: 500;
        width: 100%;
        display: block;
        border: 0.1rem #00DCFF solid;
        border-radius: 0.5rem;
        background: #D8FAFF;
        resize: none;
        @media screen and (max-width: 1440px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
          padding: 1.1rem;
        }
        &::placeholder {
          color: rgba(#616161, 0.6);
        }
        &:focus,
        &.valid {
          background: #fff;
          color: #000;
          &::placeholder {
            color: rgba(#616161, 0.6);
          }
        }
        &.invalid {
          border-color: red;
        }
      }

      &_name {
        width: 53%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_phone {
        width: 47%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_email {
        width: 67%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_age {
        width: 33%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .retreat {
        padding: 10px;
      }

      &_text {
        font-size: 1.2rem;
        line-height: 1.15;
        font-weight: 500;
        padding: 1.2rem 0.6rem 0.8rem;
        width: 100%;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
          padding: 1.2rem 0.6rem 0.9rem;
        }
      }
    }

    //select

    .feedback-form_select {
      width: 100%;
      padding: 0 0.6rem;
      &.invalid {
        .feedback-form_select__control {
          border-color: red;
        }
      }
      .valid {
        .feedback-form_select__control {
          background: #fff !important;
        }
      }

      &__placeholder {
        color: rgba(#616161, 0.6);
        font-size: 1.2rem;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      &__control,
      &__control--menu-is-open {
        padding: 0.8rem;
        border: 0.1rem #00DCFF solid;
        border-radius: 0.5rem;
        background: #D8FAFF;
        box-shadow: none;
        @media screen and (max-width: 768px) {
          max-height: 56px;
        }
      }


      &__control:hover,
      &__control--menu-is-open:hover {
        border: 0.1rem #00DCFF solid;
        box-shadow: none;
      }

      &__value-container {
        padding: 0;
      }

      &__single-value {
        font-size: 1.2rem;
        color: #000;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }

      &__indicator-separator {
        display: none;
      }

      &__menu {
        z-index: 1;
      }

      &__indicators {
        position: relative;

        svg {
          display: none;
        }

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 0.7rem;
          height: 0.7rem;
          transform: rotate(135deg);
          border-top: 0.1rem #3F455B solid;
          border-right: 0.1rem #3F455B solid;
          top: 50%;
          left: 0;
          margin-top: -0.4rem;
          @media screen and (max-width: 768px) {
            width: 0.6rem;
            height: 0.6rem;
          }
        }
      }

      &__option {
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }
    }

    //button

    &_btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2.5rem;
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 0.6rem;
      }
    }

    &_file {
      z-index: 0;
      display: block;
      position: relative;
      width: 40%;
      max-width: 308px;
      font-size: clamp(16px, 1.2vw, 20px);
      @media screen and (max-width: 768px) {
        width: 100%;
        padding-bottom: 0.9rem;
      }
      input {
        &::placeholder {
          color: #000;
        }
      }
    }

    &_button {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 1;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      display: block;
    }

    &_download {
      width: 100%;
      background: #fff;
      transition: all 0.3s;
      text-align: center;
      cursor: pointer;
      border: 0.2rem #000 solid;
      border-radius: 0.9rem;
      font-size: 1.2rem;
      padding: 0.9rem;
      transform-style: preserve-3d;
      color: #000;
      font-weight: 700;
      display: block;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
      &:hover {
        color: #3F455B;
        border: 2rem #FF6501 solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(0.1rem);
      }
      &.invalid {
        border-color: red;
      }
      &.valid {
        background: #00DCFF;
      }
    }

    &_send {
      padding-left: 1.9rem;
      max-width: 338px;
      width: 39%;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 308px;
        padding-left: 0;
      }
    }

    &_submit {
      background: #FF6501;
      width: 100%;
      transition: all 0.3s;
      cursor: pointer;
      border: 0.2rem #FF6501 solid;
      border-radius: 0.9rem;
      font-size: 1.2rem;
      padding: 0.9rem;
      transform-style: preserve-3d;
      color: #fff;
      display: block;
      box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
      &:hover {
        border: 3px #fff solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(0.1rem);
      }
    }
  }
}

.up {
  display: flex;
  padding: 3.1rem 0;
  justify-content: center;

  @include onDesktop {
    justify-content: flex-end;
  }

  &-link {
    display: block;
    background-image: url('../../../images/Form/Up.svg');
    width: 3.1rem;
    height: 3.1rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }
}
