@import '../../../utils/mixins.scss';

* {
  box-sizing: border-box;
  &:after, &:before {
      box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}

.feedback{
  // padding: 0 0 150px;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }

  &-wr {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: 768px) {
      padding: 0 30px;
    }

    &_title {
      font-weight: 800;
      font-size: 48px;
      max-width: 685px;
      color: #3F455B;
      line-height: 1.3;
      text-decoration: underline;
      padding: 0 0 120px;
      @media screen and (max-width: 1440px) {
        padding: 20px 0 80px;
        font-size: 38px;
      }
      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }

    &_form {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 3px #FF6501 solid;
      padding: 70px 40px;
      border-radius: 30px;
      margin-top: 100px;
      @media screen and (max-width: 1200px) {
        margin-top: 0;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 30px 25px;
      }
    }
  }

  &-img {
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;
    height: 100%;
    transform: scale(1.1) translate(13px, -87px);
    img {
      display: block;
      max-height: 100%;
      pointer-events: none;
      margin: 0 auto;
    }
    @media screen and (max-width: 1200px) {
      position: relative;
      transform: none;
      width: 100%;
      max-width: 400px;
      padding: 20px 0 10px;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      max-width: 165px;
    }
  }

  &-form {
    width: 65%;
    margin-left: auto;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    &_input {
      margin: 0 -10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      input, textarea {
        padding: 17px;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        display: block;
        border: 2px #00DCFF solid;
        border-radius: 8px;
        background: #D8FAFF;
        resize: none;
        @media screen and (max-width: 1440px) {
          font-size: 17px;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
          padding: 18px;
        }
        &::placeholder {
          color: rgba(#616161, 0.6);
        }
        &:focus,
        &.valid {
          background: #fff;
          color: #000;
          &::placeholder {
            color: rgba(#616161, 0.6);
          }
        }
        &.invalid {
          border-color: red;
        }
      }

      &_name {
        width: 53%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_phone {
        width: 47%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_email {
        width: 67%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &_age {
        width: 33%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .retreat {
        padding: 10px;
      }

      &_text {
        font-size: 20px;
        line-height: 1.15;
        font-weight: 500;
        padding: 20px 10px 13px;
        width: 100%;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          padding: 20px 10px 15px;
        }
      }
    }

    //select

    .feedback-form_select {
      width: 100%;
      padding: 0 10px;
      &.invalid {
        .feedback-form_select__control {
          border-color: red;
        }
      }
      .valid {
        .feedback-form_select__control {
          background: #fff !important;
        }
      }

      &__placeholder {
        color: rgba(#616161, 0.6);
        font-size: 20px;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      &__control,
      &__control--menu-is-open {
        padding: 13px;
        border: 2px #00DCFF solid;
        border-radius: 8px;
        background: #D8FAFF;
        box-shadow: none;
        @media screen and (max-width: 768px) {
          max-height: 56px;
        }
      }


      &__control:hover,
      &__control--menu-is-open:hover {
        border: 2px #00DCFF solid;
        box-shadow: none;
      }

      &__value-container {
        padding: 0;
      }

      &__single-value {
        font-size: 20px;
        color: #000;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }

      &__indicator-separator {
        display: none;
      }

      &__menu {
        z-index: 1;
      }

      &__indicators {
        position: relative;

        svg {
          display: none;
        }

        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          transform: rotate(135deg);
          border-top: 2px #3F455B solid;
          border-right: 2px #3F455B solid;
          top: 50%;
          left: 0;
          margin-top: -6px;
          @media screen and (max-width: 768px) {
            width: 9px;
            height: 9px;
          }
        }
      }

      &__option {
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    //button

    &_btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 40px;
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 10px;
      }
    }

    &_file {
      z-index: 0;
      display: block;
      position: relative;
      width: 40%;
      max-width: 308px;
      font-size: clamp(16px, 1.2vw, 20px);
      @media screen and (max-width: 768px) {
        width: 100%;
        padding-bottom: 15px;
      }
      input {
        &::placeholder {
          color: #000;
        }
      }
    }

    &_button {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 1;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      display: block;
    }

    &_download {
      width: 100%;
      background: #fff;
      transition: all 0.3s;
      text-align: center;
      cursor: pointer;
      border: 3px #000 solid;
      border-radius: 15px;
      font-size: 20px;
      padding: 15px;
      transform-style: preserve-3d;
      color: #000;
      font-weight: 700;
      display: block;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
      &:hover {
        color: #3F455B;
        border: 3px #FF6501 solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(2px);
      }
      &.invalid {
        border-color: red;
      }
      &.valid {
        background: #00DCFF;
      }
    }

    &_send {
      padding-left: 30px;
      max-width: 338px;
      width: 39%;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 308px;
        padding-left: 0;
      }
    }

    &_submit {
      background: #FF6501;
      width: 100%;
      transition: all 0.3s;
      cursor: pointer;
      border: 3px #FF6501 solid;
      border-radius: 15px;
      font-size: 20px;
      padding: 15px;
      transform-style: preserve-3d;
      color: #fff;
      display: block;
      box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
      &:hover {
        border: 3px #fff solid;
        box-shadow: 5px 5px 17px 2px rgba(255, 101, 1, 0.25);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.up {
  display: flex;
  padding: 50px 0;
  justify-content: center;

  @include onDesktop {
    justify-content: flex-end;
  }

  &-link {
    display: block;
    background-image: url('../../../images/Form/Up.svg');
    width: 50px;
    height: 50px;
    transition: all 0.3s;

    &:hover {
      transform: scale(110%);
    }
  }
}
