@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";
@import "../../utils/mixins.scss";

h2 {
  color: $typographyColor2;
  font-style: normal;
  font-weight: 800;
  font-size: clamp(24px, 2.5vw, 48px);
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 3.5rem 0 7rem 0;
  @include onTablet {
    width: 80%;
    padding: 3.5rem 0 10rem 0;
  }
}
.card {
  position: relative;
  border: 1px solid $secondaryColor4;
  border-radius: 1.25rem;
  padding: 1.25rem 1rem;
  margin-top: 5rem;

  @include onTablet {
    padding: 2.25rem 2rem;
    border: 2px solid $secondaryColor4;
    margin-top: 10rem;
  }

  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: clamp(32px, 3.3vw, 64px);
    color: $typographyColor1;
    margin-top: 2rem;
  }
}

.shortVacancyWrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include onDesktop {
    flex-direction: row;
  }
}
.shortVacancyInfo {
  width: 100%;

  @include onDesktop {
    width: 55%;
  }

  p {
    &:first-of-type {
      color: $primaryColorVacancy;
      margin: 2rem 0 0.8rem;
      font-style: normal;
      font-weight: 600;
      font-size: clamp(16px, 1vw, 20px);
    }
    &:last-of-type {
      font-style: normal;
      font-weight: 500;
      font-size: clamp(16px, 1vw, 20px);
      margin: 1.5rem 0 2rem;
    }
  }
  button {
    cursor: pointer;
    background-color: $primaryColorVacancy;
    padding: 1rem 5rem;
    border-radius: 1rem;
    color: $secondaryColor5;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px, 1vw, 20px);
    text-decoration: none;
    box-shadow: 0px 0px 17px 5px rgba(255, 101, 1, 0.25);
    transition: 0.3s ease;
    border: none;
    &:hover {
      background-color: $primaryColor2;
    }
  }
}

.favoriteTitle {
  display: none;

  @include onTablet {
    display: block;
  }
}

.firstCrumb {
  display: none !important;

  @include onTablet {
    display: block !important;
  }
}

.shortVacancyVideo {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0;
  background-color: $secondaryColor4;

  @include onDesktop {
    width: 40%;
    margin-top: 0;
  }

  .video_iframe {
    width: 100% !important;
    height: 100% !important;
    div iframe {
      display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 0.3rem;
    }
  }

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100%;
    z-index: 1;
  }
}

.hotVacancy {
  background-color: $secondaryColor1;
  color: $secondaryColor5;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  border-radius: 1rem;
}
.coldVacancy {
  display: none;
}

.cardContentWrapper {
  margin-top: 8rem;
  h2 {
    margin: 3rem 0 1.5rem;
    &:first-of-type {
      margin: 0 0 1.5rem 0;
    }
  }
  > p {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1vw, 20px);
    line-height: 150%;
  }
  > ul {
    padding-left: 2rem;
    li {
      font-style: normal;
      font-weight: 400;
      font-size: clamp(16px, 1vw, 20px);
      line-height: 150%;
    }
  }
}

.headerCard {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeCrumb {
  color: $primaryColorVacancy;
  font-weight: 700 !important;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 115%;
}
.crumbArrow {
  color: $primaryColorVacancy;
}

.normalCrumb {
  color: $secondaryColor4;
  font-weight: 500 !important;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 115%;
}

.alertWrapper {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  height: 100%;
  transition: 0.3 ease;
}
.vacancyForm {
  border: 3px solid $primaryColor3;
  background-color: $primaryColor4;
  padding: 2.125rem 1.125rem;
  border-radius: 1.875rem;
  margin-top: 3rem;

  @include onTablet {
    padding: 2.125rem;
  }
  @include onDesktop {
    padding: 3.125rem;
  }
}

.breadCrumbArrows {
  li {
    &:nth-child(2) {
      display: none !important;
    }

    @include onTablet {
      &:nth-child(2) {
        display: flex !important;
        align-items: center;
      }
    }
  }
}

.formStyledMarkdown {
  width: 100%;

  @include onDesktop {
    width: 60%;
  }

  p {
    margin-bottom: 1rem;
    font-size: $typography4;
    color: $typographyColor1;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.toTopButton {
  position: absolute;
  width: 100%;
  right: -47%;
  bottom: 1%;
  border: none;
  background: transparent;

  @include onTablet {
    right: -48%;
    bottom: 2%;
  }
  @include onDesktop {
    right: -86%;
  }
}

.another_vacancies {
  margin: 7rem 0 0 0;
}

.fetching_another_vacancies {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.see_more {
  border: 3px solid $typographyColor1;
  border-radius: 1rem;
  padding: 1rem 2.5rem;

  background-color: transparent;
  color: $typographyColor1;
  font-style: normal;
  font-weight: 700;
  font-size: $typography4;
  line-height: 115%;
  transition: .3s ease-in-out;

  &:hover {
    background-color: $typographyColor1;
    color: $secondaryColor5;
  }
}