@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";

.Header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  padding: 1.1rem 1.8rem;

  @include onTablet {
    padding: 1.9rem 2.5rem;
  }

  @include onDesktop {
    width: 89%;
    padding: 2rem 0;
  }

  @include on1920 {
    padding: 3rem 0;
  }

  &__functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;

    @include onTablet {
      gap: 3.1rem;
    }

    @include onDesktop {
      gap: 3.7rem;
    }

    @include on1920 {
      gap: 5rem;
    }
  }

  &__logo {
    width: 6.4rem;
    height: 2.1rem;

    @include onTablet {
      width: 17.3rem;
      height: 5.4rem;
    }

    @include onDesktop {
      width: 11.6rem;
      height: 3.6rem;
    }

    @include on1920 {
      width: 17.3rem;
      height: 5.4rem;
    }
  }

  &__navbar {
    display: none;

    @include onDesktop {
      display: flex;
      gap: 2.4rem;
      height: 1.1rem;
    }

    @include on1920 {
      gap: 3.1rem;
      height: 1.4rem;
    }

    &_mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__menuButton {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0.2rem;
    z-index: 10;

    transition: all 0s 0.3s;

    @include onDesktop {
      display: none;
    }
  }

  &__menuIcon {
    width: 1.5rem;
    height: 0.1rem;
    background-color: $typographyColor1;

    @include onTablet {
      width: 3.3rem;
    }

    &::before {
      content: "";
      display: block;
      width: 1.5rem;
      height: 0.1rem;
      background-color: $typographyColor1;
      transform: translateY(-0.5rem);

      transition: all 0.3s;

      @include onTablet {
        transform: translateY(-1.1rem);
        width: 3.4rem;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 0.1rem;
      background-color: $typographyColor1;
      transform: translateY(0.4rem);

      transition: all 0.3s;

      @include onTablet {
        transform: translateY(1.1rem);
        width: 3.4rem;
      }
    }

    &_active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translateX(0.1rem);

        transition: all 0.3s;
      }

      &::after {
        transform: rotate(-45deg) translateX(0.1rem);

        transition: all 0.3s;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 115%;
    color: $typographyColor1;
    border-bottom: none;

    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      color: $primaryColor1;
    }

    @include onDesktop {
      font-size: 0.9rem;
    }

    @include on1920 {
      font-size: 1.2rem;
    }

    &_mobile {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      text-align: left;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 130%;
      border-bottom: 1px solid $primaryColor1;
      padding: 2.5rem 2.5rem 2.5rem 1.8rem;

      background-color: $secondaryColor5;
      color: $typographyColor1;

      &:first-child {
        border-radius: 0.9rem 0.9rem 0px 0px;
      }
    }

    &_desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8.06rem;
      text-decoration: none;
      font-weight: 600;
      line-height: 115%;
      display: none;

      &:checked + .label {
        border: 2px solid $primaryColor1;
        border-right: 0.1rem solid transparent;
        box-shadow: 0px 5px 13px rgba(255, 101, 1, 0.25);
        border-radius: 1rem 0 0 1rem;
      }

      &--vacancy {
        text-decoration: none;
        font-weight: 500;
        line-height: 115%;
        color: $typographyColor1;

        @include onDesktop {
          font-size: 15px;
        }

        @include on1920 {
          font-size: 20px;
        }
      }
    }
  }

  &__dropMenu {
    text-align: center;
    width: 100%;
    height: 105vh;
    background-color: $primaryColor4;
    z-index: 9;
    position: absolute;
    right: -100%;
    top: -1.1rem;

    transition: 0.3s linear all;

    &_active {
      right: 0;
    }

    &_title {
      padding: 3rem 0 1.7rem;
      margin-bottom: 0;

      @include onTablet {
        margin: 0;
        height: 10.1rem;
        font-size: 0;
      }
    }
  }

  &__dropMenuDesktop {
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
    width: 76%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-color: white;
    z-index: 9;
    display: none;
    position: absolute;
    top: -1.1rem;
    box-shadow: 0px 10px 19px rgba(255, 101, 1, 0.25);

    transition: 0.3s linear all;

    &_active {
      display: flex;
    }

    &_categories {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &_vacancies {
      width: 75%;
      padding: 3% 3% 3%;
    }

    @include onDesktop {
      top: 100px;
    }
  }
}

.active-link {
  font-weight: 700;
}

.customSelectHeader {
  order: 0;
  &__control {
    border: none !important;
    display: flex !important;
    gap: 0.1rem !important;

    &:hover {
      cursor: pointer;
    }

    &--menu-is-open .custom-select__indicators .custom-select__indicator {
      transition: 0.2s all;
      transform: rotate(180deg);
    }
  }

  &__menu {
    font-size: 0.6rem !important;

    @include onDesktop {
      font-size: 0.9rem !important;
    }

    @include on1920 {
      font-size: 1.2rem !important;
    }
  }

  &__single-value {
    font-weight: 500 !important;
    font-size: 0.6rem !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 1.2rem !important;
    }

    @include onDesktop {
      font-size: 0.9rem !important;
    }

    @include on1920 {
      font-size: 1.2rem !important;
    }
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    padding: 0 !important;
  }
}

.menu {
  width: 100%;

  &_primary-enter {
    position: absolute;
    transform: translateX(110%);

    &-active {
      transform: translateX(0%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_primary-exit {
    position: absolute;

    &-active {
      transform: translateX(110%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_Secondary-enter {
    position: absolute;
    transform: translateX(110%);

    &-active {
      transform: translateX(0%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_Secondary-exit {
    position: absolute;

    &-active {
      transform: translateX(-110%);
      transition: all 0.6s ease-in-out;
    }
  }
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 2px solid $primaryColor1;

  color: $secondaryColor4;

  &:hover {
    cursor: pointer;
  }

  @include onDesktop {
    font-size: 24px;
  }

  @include on1920 {
    font-size: 32px;
  }
}
