@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.lock {
  overflow: hidden !important;
}

.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header {
  position: fixed;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;

  padding: 1.1rem 0;

  z-index: 10;

  &__search{
    width: 90%;
    margin: 0 auto;
  }

  &__search-button {
    width: 90%;
    margin: 0 auto;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 115%;
    color: #fff;
    border: none;

    padding: 15px 60px;
    background: #ff6501;
    box-shadow: 0px 0px 17px 5px rgba(255, 101, 1, 0.25);
    border-radius: 15px;

    @include onDesktop {
      width: 30%;
      margin-left: 2rem;
    }

    @include on1920 {
      font-size: 1.25rem;
      padding: 19px 75px;
    }
  }

  &__functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;

    @include onTablet {
      gap: 3.1rem;
    }

    @include onDesktop {
      gap: 3.7rem;
    }

    @include on1920 {
      gap: 5rem;
    }
  }

  &__logo {
    width: 10rem;
    height: auto;

    @include onTablet {
      width: 14rem;
      height: auto;
    }

    @include on1920 {
      width: 16rem;
      height: auto;
    }
  }

  &__navbar {
    display: none;

    @include onDesktop {
      display: flex;
      gap: 2.4rem;
      height: 1.1rem;
    }

    @include on1920 {
      gap: 3.1rem;
      height: 1.4rem;
    }

    &_mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__menuButton {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0.2rem;
    z-index: 10;
    transition: all 0s 0.3s;

    @include onDesktop {
      display: none;
    }
  }

  &__menuIcon {
    width: 1.5rem;
    height: 2px;
    border-radius: 2px;
    background-color: $typographyColor1;

    @include onTablet {
      width: 3.25rem;
      border-radius: 3px;
    }

    &::before {
      content: "";
      display: block;
      width: 1.5rem;
      border-radius: 3px;
      height: 2px;
      background-color: $typographyColor1;
      transform: translateY(-0.5rem);

      transition: all 0.3s;

      @include onTablet {
        transform: translateY(-0.9rem);
        width: 3.25rem;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      border-radius: 2px;
      height: 2px;
      background-color: $typographyColor1;
      transform: translateY(0.4rem);

      transition: all 0.3s;

      @include onTablet {
        transform: translateY(0.9rem);
        width: 3.25rem;
        border-radius: 3px;
      }
    }

    &_active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translateX(0.1rem);

        transition: all 0.3s;
      }

      &::after {
        transform: rotate(-45deg) translateX(0.1rem);

        transition: all 0.3s;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(12px, 1.1vw, 20px);
    line-height: 115%;
    color: $typographyColor1;
    border-bottom: none;

    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      color: $primaryColor1;
    }

    &_mobile {
      margin: 10px 15px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      font-weight: 600;
      font-size: clamp(16px, 3.12vw, 24px);
      line-height: 130%;
      border: 1px solid $secondaryColor4;
      border-radius: 15px;
      padding: 2rem;

      background-color: $secondaryColor5;
      color: $typographyColor1;

      @include onTablet {
        padding: 3rem;
      }
    }

    &_mobile-back {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: flex-start;
      gap: 1.1rem;

      font-weight: 500;
      font-size: $typography4;
      line-height: 150%;

      color: $secondaryColor4;

      @include onTablet {
        padding-top: 2.9rem;
        padding-bottom: 2.9rem;
        gap: 1.6rem;
        font-weight: 400;
      }
    }

    &_mobile-icon {
      transform: rotate(180deg);
    }

    &_desktop {
      text-decoration: none;
      display: none;

      &:checked + .label {
        border: 1px solid $primaryColor1;
        box-shadow: 0px 0px 17px 5px rgba(255, 101, 1, 0.25);
        border-radius: 1rem;
        color: $typography1;
        transition: .3s ease-in-out;
      }

      &:checked + .label-title {
        color: $typography1;
      }

      &--vacancy {
        border-radius: .5rem;
        padding: .5rem .75rem;
        text-align: left;
        width: 32%;
        text-decoration: none;
        font-weight: 600;
        line-height: 115%;
        color: $typographyColor1;
        font-size: clamp(15px, 1.04vw, 20px);

        transition: .2s ease-in;

        &:hover {
          background-color: $primaryColor1;
          color: #fff;
        }
      }
    }
  }

  &__dropMenu {
    text-align: center;
    width: 100%;
    height: 105vh;
    background-color: $primaryColor4;
    z-index: 9;
    position: absolute;
    right: -100%;
    top: -1.1rem;

    overflow-y: scroll;

    transition: 0.3s linear all;

    &_active {
      right: 0;
    }

    @include onDesktop {
      display: none;
    }

    &_title {
      padding: 3.3rem 0 1.7rem;
      margin-bottom: 0;

      @include onTablet {
        margin: 0;
        height: 9rem;
        font-size: 0;
      }
    }
  }

  &__dropMenuDesktop {
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem 5%;
    text-align: center;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 80%;
    background-color: white;
    z-index: 9;
    display: none;
    position: absolute;
    top: 0;

    transition: 0.3s ease-in-out;

    &_active {
      display: flex;
    }

    &_categories {
      display: flex;
      align-items: center;
      justify-content: space-between;
      row-gap: 1.5rem;
      flex-wrap: wrap;
      width: 100%;
    }

    &_category_item {
      width: 32%;
    }

    &_vacancies {
      display: flex;
      flex-direction: row;
      gap: 1rem 2%;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    @include onDesktop {
      top: 100%;
      height: 100%;
      min-height: 85vh;
    }
  }

  &__menuTop {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    margin: 0 0 2rem;

    @include onDesktop {
      flex-direction: row;
    }
  }
}

.active-link {
  font-weight: 700;
}
.css-b62m3t-container {
  border: 0 !important;
  box-shadow: 0 !important;
  &:focus-visible {
    border: 0 !important;
    box-shadow: 0 !important;
  }
  z-index: 9998 !important;
}

.darker_bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
}

.custom-select-header {
  z-index: 1 !important;
  order: 0;

  &__control {
    border: none !important;
    display: flex !important;
    gap: 0.1rem !important;
    padding-right: 0.5rem;
    background: transparent !important;

    // &:hover {
    // }

    &--menu-is-open .custom-select__indicators .custom-select__indicator {
      transition: 0.2s all;
      transform: rotate(180deg);
    }
  }

  &__menu {
    font-size: 0.6rem !important;

    @include onDesktop {
      font-size: 0.9rem !important;
    }

    @include on1920 {
      font-size: 1.2rem !important;
    }
  }

  &__single-value {
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    line-height: 115% !important;
    color: #000 !important;

    @include onTablet {
      font-size: 1.2rem !important;
    }

    @include onDesktop {
      font-size: 0.9rem !important;
    }

    @include on1920 {
      font-size: 1.2rem !important;
    }
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    padding: 0 !important;
  }
}

.menu {
  width: 100%;
  height: 100% !important;
  background-color: $secondaryColor5;
  padding: 3rem 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 17px rgba(255, 101, 1, 0.25);

  &_primary-enter {
    position: absolute;
    transform: translateX(110%);

    &-active {
      transform: translateX(0%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_primary-exit {
    position: absolute;

    &-active {
      transform: translateX(110%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_Secondary-enter {
    position: absolute;
    transform: translateX(110%);

    &-active {
      transform: translateX(0%);
      transition: all 0.6s ease-in-out;
    }
  }

  &_Secondary-exit {
    position: absolute;

    &-active {
      transform: translateX(-110%);
      transition: all 0.6s ease-in-out;
    }
  }
}

.label {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid $secondaryColor4;
  border-radius: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;

  transition: .3s ease-in-out;

  &:hover {
    border: 1px solid $primaryColor1;
    box-shadow: 0px 0px 15px 5px rgba(255, 101, 1, 0.25);
  }

  font-size: 0.87rem;

  @include on1920 {
    font-size: 1.25rem;
  }

  color: $secondaryColor4;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  &-title {
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    font-size: clamp(22px, 1.3vw, 32px);
  }
}
.select-language {
  border: none;
  background: transparent;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: 0.3s all;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    color: $primaryColor1;
  }
}
