header {
  padding: 2rem 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    display: flex;
    column-gap: 3.125rem;
  }
  .logo {
    img {
      width: 80%;
    }
  }
}
.container {
  width: 95%;
  margin: 0 auto;
}
