@mixin onMobile {
  @media (min-width: 428px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1360px) {
    @content;
  }
}

@mixin on1920 {
  @media (min-width: 1920px) {
    @content;
  }
}
