@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.container {
  padding: 3rem 0;

  @include onTablet {
    padding: 5rem 0;
  }

  @include on1920 {
    padding: 7rem 0;
  }
}
.imageWrapper {
  max-height: 3.7rem;
  text-align: center;

  @include onTablet {
    max-height: 5.5rem;
  }
}

.image {
  max-height: 3.7rem;
}

.title {
  font-weight: 800;
  font-size: $typography2;
  line-height: 130%;
  text-decoration-line: underline;
  color: $typographyColor2;

  margin-bottom: 3rem;

  @include onTablet {
    margin-bottom: 4rem;
  }

  @include on1920 {
    margin-bottom: 5rem;
  }
}
