@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.container {
  padding-top: 7.5rem;

  @include onTablet {
    padding-top: 12.5rem;
  }

  @include onDesktop {
    padding-top: 11.7rem;
  }

  @include on1920 {
    padding-top: 15.6rem;
  }
}
.imageWrapper {
  max-height: 3.7rem;
  text-align: center;

  @include onTablet {
    max-height: 5.5rem;
  }
}

.image {
  max-height: 3.7rem;
}

.title {
  font-weight: 800;
  font-size: $typography2;
  line-height: 130%;
  text-decoration-line: underline;

  margin: 0 0 3.4rem;

  @include onTablet {
    margin: 0 0 4.4rem;
  }

  @include onDesktop {
    margin: 0 0 3.4rem;
  }

  @include on1920 {
    margin: 0 0 4.6rem;
  }
}
