@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.container {
  padding: 3.8rem 0 3.8rem;

  @include onTablet {
    padding: 6.25rem 0 6.25rem;
  }

  @include onDesktop {
    padding: 5rem 0 5rem;
  }

  @include on1920 {
    padding: 7.8rem 0 7.8rem;
  }
}
.imageWrapper {
  max-height: 3.7rem;
  text-align: center;

  @include onTablet {
    max-height: 5.5rem;
  }
}

.image {
  max-height: 3.7rem;
}

.title {
  font-weight: 800;
  font-size: $typography2;
  line-height: 130%;
  text-decoration-line: underline;

  margin-bottom: 3.1rem;

  @include onTablet {
    margin-bottom: 4.4rem;
  }

  @include onDesktop {
    margin-bottom: 4rem;
  }

  @include on1920 {
    margin-bottom: 5.6rem;
  }
}
