@import "../../utils/mixins.scss";

.footer_icon {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 50%;

  width: 2.5rem;
  height: 2.5rem;

  transition: all 0.3s;

  @include onDesktop {
    width: 2rem;
    height: 2rem;
  }
  @include on1920 {
    width: 2.5rem;
    height: 2.5rem;
  }
  &:hover {
    transform: scale(110%);
  }
}
