@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.Footer {
  padding: 3.1rem 1.8rem;
  background: $typographyColor2;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include onDesktop {
    padding: 3rem 11% 3.6rem;
    flex-direction: row;
    margin: 0 auto;
  }

  @include on1920 {
    padding: 4rem 12% 4.7rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.9rem;
    @media screen and (max-width: 428px) {
      flex-direction: column;
      row-gap: 1rem;
    }
    @include onDesktop {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__contacts {
    display: flex;
    color: $secondaryColor5;
    flex-direction: column;
    text-align: left;

    & a {
      color: $secondaryColor5;
      text-decoration: none;
    }

    @include onDesktop {
      text-align: right;
    }
  }

  &__logo {
    width: 8.1rem;
    height: 2.6rem;

    @include onDesktop {
      width: 12.5rem;
      height: 3.6rem;
    }

    @include on1920 {
      width: 16rem;
      height: 5.4rem;
    }
  }

  &__socialWrapper {
    width: fit-content;
    display: flex;
    column-gap: .7rem;
  }

  &__link {
    width: 2.5rem;
    height: 2.5rem;

    @include onDesktop {
      width: 2rem;
      height: 2rem;
    }
    @include on1920 {
      width: 2.5rem;
      height: 2.5rem;
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.4rem;
    line-height: 130%;
    font-weight: 600;
    font-size: clamp(22px, 1.56vw, 30px);

    @include onDesktop {
      line-height: 140%;
      margin-bottom: 0.7rem;
    }

    @include on1920 {
      margin-bottom: 0.9rem;
    }
  }

  &__contactsText {
    font-weight: 500;
    font-size: clamp(16px, 1.04vw, 20px);
    line-height: 1.2;
    margin-bottom: 0.9rem;

    @include onDesktop {
      line-height: 1.15;

      margin-bottom: 0.5rem;
    }

    @include on1920 {
      margin-bottom: 0.6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
