@import '../../utils/mixins.scss';
@import '../../global-styles/colors.scss';

.Footer {
  padding: 3.1rem 1.8rem;
  background: $typography2;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include onDesktop {
    flex-direction: row;
    padding: 2rem 12% 2.4rem;
    margin: 0 auto;
  }

  @include on1440 {
    padding: 3rem 12% 3.6rem;
  }

  @include on1920 {
    padding: 4rem 12% 4.7rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.9rem;

    @include onDesktop {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__contacts {
    display: flex;
    color: $secondaryColor5;
    flex-direction: column;
    text-align: left;

    & a {
      color: $secondaryColor5;
      text-decoration: none;
    }

    @include onDesktop {
      text-align: right;
    }
  }

  &__logo {
    width: 8.1rem;
    height: 2.6rem;

    @include onDesktop {
      width: 8.1rem;
      height: 2.7rem;
    }
  
    @include on1440 {
      width: 10.8rem;
      height: 3.6rem;
    }
  
    @include on1920 {
      width: 16.1rem;
      height: 5.4rem;
    }
  }

  &__socialWrapper {
    display: flex;
    gap: 0.9rem;

    @include onDesktop {
      gap: 0.5rem;
    }

    @include on1440 {
      gap: 0.7rem;
    }

    @include on1920 {
      gap: 0.9rem;
    }
  }

  &__link {
    width: 2.5rem;
    height: 2.5rem;

    transition: all 0.3s;

    @include onDesktop {
      width: 1.2rem;
      height: 1.2rem;
    }

    @include on1440 {
      width: 1.6rem;
      height: 1.6rem;
    }

    @include on1920 {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:hover {
      transform: scale(115%);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.4rem;
    line-height: 130%;
    font-weight: 600;
    font-size: 1.5rem;

    @include onDesktop {
      line-height: 140%;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    @include on1440 {
      font-size: 1.4rem;
      margin-bottom: 0.7rem;
    }

    @include on1920 {
      font-size: 1.9rem;
      margin-bottom: 0.9rem;
    }
  }

  &__contactsText {
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    margin-bottom: 0.9rem;

    @include onDesktop {
      font-size: 0.6rem;
      line-height: 115%;
      margin-bottom: 0.3rem;
    }

    @include on1440 {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    @include on1920 {
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
