footer {
  padding: 3rem 0 4rem;
  background-color: #3F455B;
  width: 100%;
  color: #fff;
}
.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social_icons {
  display: flex;
  margin-top: 1.5rem;
  column-gap: 1rem;
}
.info_block {
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  h2 {
    margin-bottom: .8rem;
    line-height: 1;
  }
}