@import "../../utils/mixins.scss";
@import "../../global-styles/colors.scss";
@import "../../global-styles/fonts.scss";

.Testimonials {
  padding: 3.8rem 0 3.8rem;

  @include onTablet {
    padding: 6.25rem 0 6.25rem;
  }

  @include onDesktop {
    padding: 5rem 0 5rem;
  }

  @include on1920 {
    padding: 7.8rem 0 7.8rem;
  }

  &__title {
    font-weight: 800;
    font-size: $typography2;
    line-height: 130%;
    text-decoration-line: underline;

    color: $typographyColor2;

    @include onDesktop {
      margin: 0 0 3.4rem 12%;
    }

    @include on1920 {
      font-size: 3rem;
      margin: 0 0 4.6rem 11%;
    }

    margin-bottom: 3.1rem;

    @include onTablet {
      margin-bottom: 4.4rem;
    }

    @include onDesktop {
      margin: 0 0 4rem 12%;
    }

    @include on1920 {
      margin: 0 0 5.6rem 11%;
    }
  }

  &__slide-head {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  &__person {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    @include onDesktop {
      gap: 0.7rem;
    }

    @include on1920 {
      gap: 0.9rem;
    }
  }

  &__name {
    font-weight: 600;
    font-size: $typography3;
    line-height: 130%;

    @include onDesktop {
      line-height: 115%;
    }
  }

  &__vacancy {
    font-weight: 500;
    font-size: $typography4;
    line-height: 130%;

    @include onDesktop {
      line-height: 115%;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__paragraph {
    font-weight: 400;
    margin: 1.25rem 0 0 0;
    font-size: $typography5;
    line-height: 150%;
  }

  &__slider {
    padding-bottom: 6.2rem;
  }

  &__image {
    width: 5rem;
    height: 5rem;
    background: $primaryColor4;
    border-radius: 50%;

    @include onDesktop {
      width: 4.8rem;
      height: 4.8rem;
    }

    @include on1920 {
      width: 6.4rem;
      height: 6.4rem;
    }
  }

  .swiper-pagination {
    bottom: 1.3%;

    @include onDesktop {
      bottom: 1.5%;
    }

    &-bullet {
      border: 0.1rem solid $primaryColor1;
      background-color: $secondaryColor5;
      width: 1.5rem;
      height: 1.5rem;
      opacity: 1;

      &:hover {
        cursor: pointer;
      }

      @include onDesktop {
        width: 1.1rem;
        height: 1.1rem;
      }

      @include on1920 {
        width: 1.5rem;
        height: 1.5rem;
      }

      &-active {
        background: $primaryColor1;
      }
    }
  }

  .swiper-button-next {
    width: 2.8rem;
    height: 2.8rem;
    background-image: url("../../images/Slider/next.svg");
    background-size: cover;
    top: inherit;
    bottom: 0;
    right: 0%;
    z-index: 11;

    @include onTablet {
      right: 25%;
    }

    @include onDesktop {
      width: 2.4rem;
      height: 2.4rem;
      right: 40%;
    }

    @include on1920 {
      width: 3.1rem;
      height: 3.1rem;
    }

    &::after {
      display: none;
    }
  }

  .swiper-slide {
    padding: 2.5rem 1.6rem;
    border: 0.1rem solid $typography1;
    border-radius: 0.9rem;
    opacity: 0.35;

    @include onDesktop {
      padding: 1.2rem 1.9rem;
      border: 0.1rem solid $typography1;
    }

    @include on1920 {
      padding: 1.6rem 2.5rem;
      border: 0.2rem solid $typography1;
    }

    &-active {
      opacity: 1;
    }
  }

  .swiper-button-prev {
    width: 2.8rem;
    height: 2.8rem;
    top: inherit;
    bottom: 0;
    left: 0%;
    z-index: 11;

    background-image: url("../../images/Slider/next.svg");
    background-size: cover;
    transform: rotate(180deg);

    @include onTablet {
      left: 25%;
    }

    @include onDesktop {
      width: 2.4rem;
      height: 2.4rem;
      left: 40%;
    }

    @include on1920 {
      width: 3.1rem;
      height: 3.1rem;
    }

    &::after {
      display: none;
    }
  }
}
