*,
*::after,
*::before {
  box-sizing: border-box;
}

.starter {
  font-size: 18px;
}

.container {
  width: 85% !important;
  height: auto;
  margin: 0 auto;
}

ul {
  padding: 0;
}
body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;
}
