@import "./utils/mixins.scss";
@import "./global-styles/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.2s ease;
}
.active-link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.lock {
  overflow-y: hidden !important;
}
main {
  position: relative;
}
.darken {
  position: absolute;
  transition: 0.1s all;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100vw;
  height: 100%;
  background: rgba(10, 69, 79, 0.4);
  z-index: 100;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

.starter {
  font-size: 1.1rem;
}

ul {
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.no-overflow {
  overflow-y: hidden;
}
