@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  transition: .2s ease;
}
.active-link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  transition: .2s ease;
}



/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}


.starter {
  font-size: 18px;
}

ul {
  padding: 0;
}
body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
