@import "./global-styles/colors.scss";
@import "./utils/mixins.scss";

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;

  scrollbar-color: red;
  scrollbar-width: .5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.desktopMenuOpened + footer > * {
  opacity: 0.6;
}
// * {
//   cursor: url(./icons/cursor.svg), auto;
// }


.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  @include onTablet {
    width: 80%;
  }
}

.select__control {
  cursor: pointer !important;
}

.PhoneInputInput {
  padding-left: .5rem !important;
}
.PhoneInputCountrySelectArrow {
  margin-left: .7rem !important;
}

.logo {
  width: 200px;
  height: 70px;

  @include onTablet {
    width: 280px;
    height: 90px;
  }
}