@import "./global-styles/colors.scss";

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.desktopMenuOpened + footer > * {
  opacity: 0.6;
}
* {
  cursor: url(./icons/cursor.svg), pointer;
  cursor: url(./icons/cursor.svg), auto;
  cursor: url(./icons/cursor.svg), default;
}
